.open-button{
    color: $white-color;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;

    padding-top: 10px;
    padding-bottom: 10px;
    background-color: $accent-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    display: block;
    width: 200px;
    border-radius: 4px;
    margin-right: auto;
    margin-left: auto;
    cursor: pointer;
    border: transparent;
    outline: none;
}