$primary-text-color: #757575;
$accent-color: #2196F3;
$title-text-color: #212121;
$footer-text-color: rgba(255, 255, 255, 0.6);
$footer-background-color: #2F303A;
$section-background: #F5F4FA;
$white-color: #FFFFFF;


$mobile: 480px;

$tablet: 768px;
$desktop: 1200px;
